{% extends layout %}
{% block  content %}
    <h2><a href="/tasks/new">Post new task</a></h2>
    <h1>{{message}}</h1>
    <ul class="task-list">
{% for item in items %}
    <li class="task-list-item">{{ item.task }}</li>
    {% if item.completed %}
        <p>Completed!</p>
    {% endif %}
    {% if not item.completed %}
        <p>Not completed...</p>
        <form action="/tasks/edit" method="post">
            <input type="hidden" name="taskid" value={{ item.id }}>
            <button type="submit">Complete</button>
        </form>
    {% endif %}
    <form action="/tasks/delete" method="post">
        <input type="hidden" name="taskid" value={{ item.id }}>
        <button type="submit">Delete</button>
    </form>
{% else %}
    <li>This would display if the 'item' collection were empty</li>
{% endfor %}
    </ul>
{% endblock %}